.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #980377;
    padding: .5rem;
    margin: 1rem;
    border-radius: 10px;
    color: white;
    height: 3rem;
}

.header__tittle{
    font-size: 2rem;
}